env: "local" # Possible values: local, dev, prod
connection_strings:
  # PostgreSQL connection string format: "postgres://user:password@host:port/dbname?sslmode=disable"
  url_shortener: "your_postgres_connection_string"
http_server:
  address: "localhost:8080" # Server address
  timeout: 3s               # Request timeout
  idle_timeout: 30s         # Idle connection timeout
  read_header_timeout: 2s   # Timeout for reading request headers
app:
  expired_url_path: "/error/expired" # Redirect path for expired URLs
  graceful_shutdown_timeout: 10s     # Time to wait before forcing shutdown

  hash_id_configuration:
    salt: "your_salt_value"                 # Secret key for generating short URLs (keep it private!)
    alphabet: "abcdefghijkABCDEFGHIJK12345" # Allowed characters for short links
    min_hash_length: 5                      # Minimum length of generated hashes